@function weight($key) {
    @return map-get($fontWeights, $key);
};

@mixin flex($jc:null,$ai:null,$dir:null) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $dir;
}