$primColor: #1a73e8;
$fontColor: #000;
$sopen: #f9f9f9;
$wkds: #aeaeae;
$white: #fff;
$black: #000;
$dates-bg: #E1ECFC;
$date-hover: #B4D1F8;
$eventColor: #8A8A8A;
$curr-date: #787676;
$box-shadow: 0 0 6px rgba($black, $alpha: 0.16);

$fontWeights: (
    light: 300,
    normal: 400,
    medium: 500,
    bold: 700,
);